# Clases compiladas
*.class

# Logs
*/logs/
*.logs
*/log/
*.log

# Archivos comprimidos
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Reportes
*/target/

# Gradle
.gradle/
*/.gradle/
*/build/


# No ignorar el Gradle Wrapper
!*/gradle\wrapper\gradle-wrapper.jar

# Archivos de Ides
*.classpath
*.project
*.metadata
*/bin/
*/tmp/
*.tmp
*.bak
*.swp
*~.nib
*/local.properties
*/.settings/
*.loadpath
*.recommenders
.idea/
workspace.xml
*/out/

# Locally stored "Eclipse launch configurations"
*.launch

### Sonar ###
#Sonar generated dir
*/.sonar/
